:root {
    --primary-color: #918f8c;
    --black-color:#000;
    --white-color:#fff;
}
* {
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 62.5%;
}
body {
    margin: 0;
    padding: 0;
}
.m-bt-10 {
    margin-bottom: 10px;
}


  .heading-form {
    font-size: 2.8rem;
  }
  .body-form {
    display: flex;
    flex-direction: column;
    font-size: 1.8rem;
  }
  .form-group {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
  }
  .input-form {
    padding: 10px;
  }
  .group-submit {
    justify-content: space-between;
  }
  .input-submit {
    padding: 10px 15px;
    color:  var(--white-color);
    background-color: #00a8ff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .header {
    border-bottom: 1px solid #EFEFEF;
    display: flex;
    justify-content: space-between;
    padding: 10px ;
  } 
  .header-left a {
    font-size: 3.4rem;
    text-decoration: none;
    color: var(--black-color);
  }
  .header-right {
    display: flex;
    align-items : center;
  }
  .header-right__item a {
    line-height: 18px;
    font-size: 3rem;
    color: var(--black-color);
    padding: 0 10px;

  }
  .bell-icon {
    color: #f39c12;
  }
  .main-container {
    display: flex;
    align-items: stretch;
  
  }
  .sidebar-section {
    min-height: 600px;
    border-right: 1px solid #999;
    background-color: var(--white-color);
  }
  .menu {
    display: flex;
    flex-direction: column;
  }
  .menu-navbar-list {
    list-style-type: none;
    padding:0;
  }
  .menu-navbar-item {
    padding: 5px;
    font-size: 2.4rem;
  }
  .menu-navbar-item:hover {
    background-color: #999;
  }
  .menu-navbar-item a {
    text-decoration: none ;
    color: var(--black-color);
  }
  .menu-heading {
    font-size: 2.4rem;
  }
  .content {
    font-size: 1.8rem;
  }
  .content-section {
    background-color: #F9FAFB;
    padding-top: 10px ;
    padding-bottom: 10px;
    
  }
  .parameter {
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #888888;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    background-color: var(--white-color);
  }
  
  
  .inner-div {
    flex: 1;
    margin: 0 5px;
    padding: 5px;
    color: #fff;
    border-radius: 10px;
  }
  .inner-div-title {
    display: flex;
    align-items: center;
  }
  .inner-div b {
    font-size: 2rem;
  }
  .money {
    background-color: #3498db;
  }
  
  .shipping {
    background-color: #eb6262;
  }
  
  .inbox {
    background-color: #2ecc71;
  }
  
  .progress-money {
    background-color: #7bc2f2;
    height: 100%;
    width: 50%; /* Thay đổi giá trị này để thay đổi độ đầy  */
  }
  .progress-shipping {
    background-color: #ee7567;
    height: 100%;
    width: 60%; 
  }
  .progress-inbox {
    background-color: #67ee6e;
    height: 100%;
    width: 60%;
  }
  
  .progress-bar {
    height: 20px; 
    background-color: #f0f0f0; 
    border-radius: 10px; 
    overflow: hidden; 
  }
  .frame {
    border-radius: 10px;
    box-shadow: 2px 2px 5px #888888;
    margin-bottom: 30px;
  }
  
  .chart-round {
    padding: 30px 50px;
    box-shadow: 2px 2px 5px #888888;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    background-color: var(--white-color);
  }
  .chart-round .chart h2 {
    font-size: 2rem;
  }
  .board {
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: rgb(170, 114, 222);
  }
  .board h2 {
    font-size: 2rem;
    
  }
  .column {
    display: flex;
    border-top: 1px solid #ccc;
  }
  
  .column p {
    font-size: 20px;
    font-weight: bold;
  }
  .remaining-goods {
    margin-left: auto;
  }
  /* --------------------------------------------product */
  .top-div {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
  }
  .insert-prt-btn {
    text-decoration: none;
    color: var(--black-color);
    padding: 10px;
    background-color: #2ecc71;
    border: none;
    border-radius: 4px;
    font-size: 1.6rem;
  }
  .search-prt-btn {
    padding: 10px;
    font-size: 1.6rem;
  }
  table {
    width: 100%;
    background-color: var(--white-color);
    text-align: center;
  }
  th {
    font-size: 1.8rem;
  }
  .col1 {
    width: 30%;
  }
  .col2,.col4,.col5 {
    width: 10%;
  }
  .col3 {
    width: 40%;
  }
  .categoryID,
  .categoryName,
  .Name-product,
  .Price-product {
    font-size: 1.8rem;
  }
  .fa-pencil,.fa-trash  {
    font-size: 2rem;
    color: var(--black-color);
  }

  .fa-pencil:hover,
  .delete:hover {
    text-decoration: underline;
    color: var(--primary-color);
  }
  .img-product {
    width: 100%;
    height: 200px;
  }
  /* -------------------------------------- form */
  .heading {
    font-size: 4rem;
  }
  .form {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    font-size: 1.8rem;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #888888;
    margin: 0 auto;
    background-color: var(--white-color);
  }
  .form-login {
    width: 500px;
    margin-top: 20px;
  }
  label {
    font-size: 1.8rem;
    display: block;
    margin-bottom: 10px;
  }
  
  .insert-prt-input,
  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.6rem;
  }
  
  .submit {
    font-size: 1.8rem;
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .submit:hover {
    background-color: #4caf50;
  }
  
  select option {
    padding: 10px;
    font-size: 1.6rem;
  }
 
  .input_insert-cat {
    padding: 10px;
  }
  .Account {
    position: relative;
    border: none;
    background-color: var(--white-color);
    font-size: 1.8rem;
    cursor: pointer;
  }
  .subnav-account {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: 5px;
    border: 1px solid var(--black-color);
    background-color: var(--white-color);
  }
  .subnav-account-list {
    padding: 0;
    list-style: none;
  }
 
  .subnav-account-item a {
    display: block ;
    width: 100%;
    padding: 4px;
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--black-color);
  }
  .subnav-account-item a:hover {
    background-color: var(--primary-color);
  }
  .update-prt-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.6rem;
  }